@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    // background: url('./assets/background.png');
    // background-size: 120%;
    // background-repeat: no-repeat;
    font-family: inter;
    user-select: none;
}

.spawnmenu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.spawnmenu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 80%;
    margin-bottom: 3%;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;

    img{
        position: absolute;
        margin-top: .7vw;
        margin-left: -1.7vw;
        width: .8vw;
    }
}

.header-label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2vw;
    color: #FFFFFF;
}

.line{
    height: 0.15vw;
    width: 30vw;
    opacity: 60%;
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(233,233,233,0.6) 41%, rgba(233,233,233,0) 100%);
}

.header-catagory{
   font-family: inter;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1vw;
    font-weight: 800;
    color: #ffffff8a;
}

.footer {
    position: relative;
    top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}

.location-container {
    display: flex;
    flex-direction: row;
    gap: 1.2vw;
}

.location {
    width: 11vw;
    height: 5.5vw;
    border: 0.1vw #ffffffda solid;
    background-size: 14vw;
    background-position: center;
    background-repeat: no-repeat;
    transition: 100ms ease;
    &:hover{
        background-size: 15vw;
    }
}

.backward{
    position: absolute;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4.5vw;
    margin-top: 1vw;
    svg {
        fill: #f2f2f2;
    }
}

.backward:hover{
    svg {
        fill: #f2f2f283;
    }
}

.forward{
    position: relative;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1vw;
    right: 0.5vw;
    svg {
        fill: #f2f2f2;
    }
}

.forward:hover{
    svg {
        fill: #f2f2f283;
    }
}


.location-title {
    margin-top: .3vw;


    div {
        margin-left: .4vw;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8vw;
    }
}


.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.button{
    background-color: rgba(0,0,0,0.5);
    border: 0.15vw #FFFFFF solid;
    text-transform: uppercase;
    color: #f2f2f2;
    padding: 0.4vw;
    font-weight: 700;
    height: 1.3vw;
    width: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .83vw;

    img {
        width: 1.1vw;
    }

    &:hover {
        border: 0.15vw #FFFFFF solid;
        background-color: #FFFFFF;
        color: rgba(0,0,0,0.9);

        img {
            width: 1.1vw;
            filter: invert(1);
        }
    }
}


.dialog-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: rgba(0, 0, 0, 0.7);
    width: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 'center';
    gap: 1vw;
    padding-bottom: 1.5vw;
    color: #FFFFFF;
}

.dialog-header{
    display: flex;
    flex-direction: column;
align-items: center;
    gap: 0.5vw;  
}

.dialog-title {
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2vw;

    img{
        width: 1.4vw;
        height: auto;
    }
}

.dialog-description {
    color: #ffffffab;
    font-weight: bold;
    font-size: 0.7vw;
    width: 14vw;
    text-align: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

input {
    outline: none;
    border: none;
    width: 12vw;
    height: 2vw;
    font-size: .8vw;
    font-weight: bold;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 0.5vw;
    border: 0.1vw solid white;
}

input:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.imageinput{
    background-size: cover;
    width: 100%;
    height: 6vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.previewinput {
    @extend .imageinput;
    width: 12vw;
    padding-left: 0.5vw;
    border: 0.1vw solid white;

}
.previewinput:hover{
    background-color: rgba(0, 0, 0, 0.8);
}


.dialog-button {
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    padding: 0.6vw 3vw;

    img{
        width: 1.2vw;
    }
}

.dialog-button:hover{
    background-color: #FFFFFF;
    img{
        filter: invert(1);
    }
}







.list-button {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    width: 7vw;
    height: 2.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-button:hover{
    background-color: #FFFFFF;

    svg{
        fill: black !important;
    }

}

.list-item {
    width: 12vw;
    padding-left: 0.5vw;
    height: 6vw;
    border: 0.1vw solid white;
    background-size: 14vw;
    background-position: center;
    transition: 100ms ease;

    svg {
        position: relative;
        margin-top: 3vw;
        margin-left: 10.5vw;
        transition: 100ms ease;
        opacity: 0;
        transform: scale(0.0);
        fill: white;
        width: 1vw;
    }


    div {
        margin-top: .3vw;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8vw;
    }
}

.list-item:hover{

    svg {
        opacity: 1;
        transform: scale(1.0);
    }

    svg:hover{
        fill: #FF3131;
    }
    background-size: 15vw;
}


.jail-container{
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.75) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.jail-title {
    font-size: 5vw;
    font-weight: bold;
   
}

.jail-description {
    letter-spacing: 0.2vw;
}

.enter{
    background-color: white;
    padding: 0 0.2vw;
    color: black;
    font-weight: bold;
}